<tr class="row"{{#unless visible}} style="display: none;"{{/unless}}>
  <td {{#if indent}} style="padding-left: {{indent}}px;"{{/if}}><span{{#if hasChild}} class="{{state}}"{{/if}}></span><span class="mini-icon mini-icon-directory name">{{name}}</span></td>
</tr>
