.blur_none {
  -webkit-filter: none;
}

.blur_light {
  -webkit-filter: blur(1px);
}

.blur_middle {
  -webkit-filter: blur(3px);
}

.blur_heavy {
  -webkit-filter: blur(5px);
}

.repo_container {
  position: absolute;
  top: 104px; /* 41 20 28 10 5*/
  left: 1em;
  overflow: hidden;
}

.repo_container .mini-icon.state {
  color: #80A6CD;
}
.repo_container .mini-icon.state:hover {
  cursor: pointer;
}

.repo_container .collapsed:before {
  content: "\f05a";
}
.repo_container .expanded:before {
  content: "\f05b";
}

.repo_container .name {
  text-overflow: clip;
}
.repo_container .actions .tree_action {
  float: right;
  padding-left: 4px;
  cursor: pointer;
}
.repo_container .actions .refresh:before {
  content: "\f087";
}
.repo_container .actions .tree_action img {
  border-radius: 3px;
  border: 1px solid #D4D4D4;
  border-bottom-color: #BCBCBC;
}

.treegrid {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .repo_container {
    display: none;
  }
}
