<!DOCTYPE html>
<html lang="en" ng-app="Options" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Rappa Options</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="lib/angular.min.js"></script>
    <script src="/common/lodash.custom.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span4 offset1" ng-controller="OptionsController">
        <form>
          <fieldset>
            <legend>
              Rappa
            </legend>
            <label class="checkbox">
              <input type="checkbox" ng-model="config.ninja">
              Ninja reading training Mode</label>
          </fieldset>
          <fieldset>
            <legend>
              GitHub
            </legend>
            <p class="text-warning" ng-show="!config.github.tested">
              Account is not authenticated
            </p>
            <input type="text" placeholder="Username or Email" ng-model="config.github.account">
            <div class="input-append">
              <input type="password" placeholder="Password" ng-model="config.github.password">
              <button class="btn" ng-click="test(config.github)" ng-disabled="buttons.disabled">
                Test Auth
              </button>
            </div>
          </fieldset>
        </form>
        <button class="btn btn-secondary" ng-click="defaults()" ng-disabled="buttons.disabled">
          <i class="icon-trash"></i> Restore Defaults
        </button>
        <button class="btn btn-secondary" ng-click="latest()" ng-disabled="buttons.disabled">
          <i class="icon-refresh"></i> Restore Latest
        </button>
        <button class="btn btn-primary" type="submit" ng-click="apply(config)" ng-disabled="buttons.disabled">
          <i class="icon-ok icon-white"></i> Apply
        </button>
      </div>
    </div>
  </body>
</html>