<!DOCTYPE html>
<html lang="en" ng-app="Options" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Rappa Options</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="/common/lodash.custom.min.js"></script>
    <script src="/common/jquery-1.8.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/chrome.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <div class="row-fluid">
      <div alert></div>
      <div class="span4 offset1" ng-controller="OptionsController">
        <form name="configForm">
          <fieldset>
            <legend>
              Rappa
            </legend>
            <label class="checkbox">
              <input type="checkbox" ng-model="config.ninja">
              Ninja reading training Mode</label>
          </fieldset>
          <fieldset>
            <legend>
              GitHub
            </legend>
            <input type="text" placeholder="Username or Email" name="account" ng-model="config.github.account" required>
            <div class="input-append">
              <input type="password" placeholder="Password" name="password" ng-model="config.github.password" required>
              <button class="btn" ng-click="test(config.github)"
              ng-disabled="buttons.disabled || !configForm.$valid">
                Test Auth
              </button>
            </div>
          </fieldset>
        </form>
        <button class="btn btn-secondary" ng-click="clear()" ng-disabled="buttons.disabled">
          <i class="icon-trash"></i> Clear Settings
        </button>
        <button class="btn btn-secondary" ng-click="latest()" ng-disabled="buttons.disabled">
          <i class="icon-refresh"></i> Restore Latest
        </button>
        <button class="btn btn-primary" type="submit" ng-click="apply(config)" ng-disabled="buttons.disabled">
          <i class="icon-ok icon-white"></i> Apply
        </button>
      </div>
    </div>
  </body>
</html>